<% provide(:title, "Inscape") %>
<div class="center jumbotron">
  <h1>Inscape</h1>

  <h2>
    Your Community App
  </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

>